<div class="main-area">
	<div class="grey"></div>
	<div class="main-area__jumbotron">
		<h1 class="main-area__title">Welcome to PairBnb</h1>
		<p class="main-area__description">Book homes from local hosts in 191+ countries and experience a place like you live there.</p>
		<%= link_to listings_path do %><button class="main-area__cta">ALL LISTINGS</button>
		<% end %>
	</div>
</div>

<div class="container container-content">
	
	<div class="content-image">
	<h2>Just for the weekend</h2>
	<p>Discover new, inspiring places close to home.</p>
	<%= image_tag("paris-streets.jpg") %>
	<p>Mohamed al-Fayed, the Egyptian businessman and the current owner, bought the property from the Ritz family in 1979. In 2012, he decided to shutter it for the first time, to conduct a makeover that would bring it back to its former glory. “Closing down the hotel was not an easy decision to make, but it was necessary to maintain the pre-eminent position of the Ritz Paris,” he said in an email to The New York Times.</p>
	</div>

	<div class="world-title">
		<h2>Explore the world</h2>
		<p>See where people are traveling, all around the world. </p>
	</div>

	<div class="all-image">

	<div class="world-image1"><div class="grey"><h3>Tokyo</h3></div></div>
	<div class="world-image2"><div class="grey"><h3>HongKong</h3></div></div>
	<div class="world-image3"><div class="grey"><h3>Malaysia</h3></div></div>
	<div class="world-image4"><div class="grey"><h3>Sydney</h3></div></div>
	<div class="world-image5"><div class="grey"><h3>Bangkok</h3></div></div>
	<div class="world-image6"><div class="grey"><h3>Paris</h3></div></div>
	</div>
</div>