/* * This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require jquery-ui
*= require bootstrap-typeahead-rails
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
	font-family: Myriad;
	src: url("MyriadPro-Regular.otf");
}
$purple: #9966ff;
body {
	font-family: Lato;
}

.top {
	margin-top: 80px;
}
.height {
	height: 30px;
}
.my-navbar {
	// background-color: rgba(255,0,0,0.2);
	background-color: transparent;
	position: relative;
	z-index: 2;
	height: 80px;
	border: none;
	
	border-radius: 0;
}
.my-navbar--reverse {
	border-bottom: 1px solid grey;
	box-shadow: 0 0 5px grey;
	position: fixed;
	background-color: white;
	width: 100%;
	a, li, p {
		color: rgba(0,0,0,0.68) !important;
	}
	.my-navbar--left {
		a {
			&:hover {
				background-color: rgba(0,0,0,0.78);
				color: white !important;

			}
		}
	}
	.my-navbar--signup {
		li {
			a {
				color: white !important;
			}
		}
	}
}
.my-navbar__container {
	z-index: 2;
	display: flex;
	height: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	div, ul {
		height: 100%;
	} 
	ul {
		list-style: none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		box-sizing: border-box;
		li {
			margin-left: 25px;

		}
	}
	a, li, p {
		color: white;
		font-family: Lato;
		font-weight: 700;
	}
	p {
		.current-user {
			color: blue !important;
		}
	}
}
.my-navbar__brand {
	font-size: 26px;
	font-family: Open Sans;
	line-height: 80px;
	font-weight: 700;
	&:hover, &:active, &:visited {
		text-decoration: none;
	}
}
.my-navbar__listing {
	a {
		&:active, &:visited {
			text-decoration: none;
		}
	}
}
.my-navbar--left {
	margin: 0;
	min-width: 200px;
	li {
		line-height: 80px;
	}
	
	a {
		height: 100%;
		display: block;
		box-sizing: border-box;
		&:hover {
			text-decoration: none;
			background-color: white;
			color: rgba(0, 0, 0, 0.68) !important;
		}

	}
}
.my-navbar--right {
	margin-left: auto;
	li {
		padding: none;
	}
	li:first-child {
		&:hover {
			background-color: rgba(255,255,255,0.68);
		}
	}
	li:last-child {
		&:hover {
			background-color: #8950FA;
		}
	}
	a {
		display: block;
		line-height: 38px;
		&:hover {
			text-decoration: none;
		}
	}
}
.my-navbar__btn {
	width: 125px;
	height: 38px;
	text-align: center;
	border-radius: 3px;
}
.my-navbar--signin {
	background-color: rgba(255, 255, 255, 0.58);	
}
.my-navbar--signup {
	margin-left: 45px;
	background-color: $purple;
}
// .round {
// 	height: 36px;
// 	width: 36px;
// 	border-radius: 100%;
// 	overflow: hidden;
// 	margin-top: 6px;
// 	margin-right: 15px;
// }
