// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}
.create-btn {
	margin-top: 20px;
	margin-bottom: 20px !important;
}
.listing-photo-frame {
	overflow: hidden;
	margin: 0;
}
.listing {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	.btn {
		margin-left: 15px;
		margin-top: 20px;
	}
}
.listing__image {
	width: 35%;
}
.listing__contents {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
.listing__title {
	h1 {
		margin: 0 !important;
	}
}
.listing--bold {
	font-weight: bold;
}