// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}
.create-btn {
	margin-top: 20px;
	margin-bottom: 20px !important;
}
.listing-photo-frame {
	overflow: hidden;
	margin: 0;
}