// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#clearance form {

		margin-top: 20px;
	}
div.submit-field {
	input {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.user-profile {
	display: flex;
}
.user-profile__image {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}
.user-profile__details {
	margin-left: 30px;
	width: 70%;
}
