// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-area {
	width:100%;
	position: relative;
	top: -80px;
	z-index: 1;
	height: 500px;
	background-image: url(asset-path"bg.jpg"));
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	.grey {
		position: absolute;
		width: 100%;
		height: 500px;
		z-index: 2;
		background-color: rgba(0,0,0,0.55);
		top: 0;
		left: 0;
	}
}
.main-area__jumbotron {
	position: relative;
	z-index: 3;
	color: white;
	text-align: center;
	top: 40px;
	a {
  color: white;
  &:hover {
      color: white;
  }
 }
}
.main-area__title {
	font-family: Myriad;
	font-size: 48px;
}
.main-area__description {
	font-family: Myriad;
}
.main-area__cta {
	margin-top: 40px;
	width: 160px;
	height: 50px;
	background-color: #9966ff;
	border: none;
	border-radius: 3px;
	&:hover {
			background-color: #8950FA;
		}

	a {
		color: white;
		display: block;
		line-height: 50px;
		font-weight: bold;
		&:hover {
			text-decoration: none;
			color: white;
		}
	}
}

.container-content {
	text-align: center;
	.content-image {
		
		img{
			margin-top: 20px;
			margin-bottom: 20px;
			width: 100%;
		}
	}

	.world-title{
		margin-top:80px;
	}

	.all-image {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 100px;
		color: white;
		.grey {
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			-webkit-transition: all 0.5s; 
	    transition: all 0.5s;
			&:hover {
				background-color: rgba(0,0,0,0.75);
				h3 {
					font-size: 40px;
				}
			}

		}
		div {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			
			h3 {
			font-family: Open Sans;
			font-weight: 800;
			-webkit-transition: all 0.5s; 
	    transition: all 0.5s;
			}
		}

	.world-image1{
		background-image: url(asset-path("tokyo.jpg"));
		background-size: cover;
		margin-top:60px;
		width:350px;
		height: 200px;
	}

	.world-image2{
		background-image: url(asset-path("hongkong.jpg"));
		background-size: cover;
		margin-top:60px;
		width:350px;
		height: 200px
	}

	.world-image3{
		background-image: url(asset-path("malaysia.jpg"));
		background-size: cover;
		margin-top:60px;
		width:350px;
		height: 200px
	}

	.world-image4{
		background-image: url(asset-path("sydney.jpg"));
		background-size: cover;
		margin-top:60px;
		width:350px;
		height: 200px
	}

	.world-image5{
		background-image: url(asset-path("bangkok.jpg"));
		background-size: cover;
		margin-top:60px;
		width:350px;
		height: 200px
	}

	.world-image6{
		background-image: url(asset-path("paris.jpg"));
		background-size: cover;
		margin-top:60px;
		width:350px;
		height: 200px
	}
}
}